/*------------------------------------------------
# General
------------------------------------------------*/


/*------------------------------------------------
# Header
------------------------------------------------*/
.header {

}

/*------------------------------------------------
# Hero
------------------------------------------------*/
.hero {
	width: 100%;
	height: 100vh;
	background: url(https://picsum.photos/1920) top center no-repeat;
}