/*------------------------------------------------
# General
------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
}

/*------------------------------------------------
# Header
------------------------------------------------*/
.header {

}

/*------------------------------------------------
# Hero
------------------------------------------------*/
.hero {
	width: 100%;
	height: 100vh;
	background: url(https://picsum.photos/1920) top center no-repeat;
}

/*
.hero .btn-get-started {
	margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
*/