/*------------------------------------------------
# General
------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
}

/*------------------------------------------------
# Header
------------------------------------------------*/
.header {

}

.navbar {
	width: 100%;
}

/*------------------------------------------------
# Sections
------------------------------------------------*/
section {
	margin: 60px 0;
}

/*------------------------------------------------
# Hero
------------------------------------------------*/
.hero {
	margin-top: 0;
	width: 100%;
	height: 900px;
	background: url(https://picsum.photos/1920) top center no-repeat;
}

/*
.hero .btn-get-started {
	margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
*/

#about {
}

.about-content {
	
}

/*
.about-content div {
	background-color: #f6f9ff;
}
*/

.portfolio-row {
	margin-top: 30px;
}

.blog-content {
	margin: 0 30px;
}

.contact-form {
	margin: 30px 30px;
}

.form-row {
	margin-bottom: 1rem;
}

.form-content {
	height: 300px;
	padding-top: 0;
}