/*------------------------------------------------
# General
------------------------------------------------*/
html {
	font-size: 16px;
}

body {
	background-image: url("../img/RedBackground.png");
}

a {
	color: #DD0000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

a:hover {

}

h1, h2, h3, h4, h5, h6 {
	color: #DD0000;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0;
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

p {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 1.5rem;
	opacity: 0.8;
}

/*------------------------------------------------
# Header
------------------------------------------------*/
.header {

}

.navbar {
	width: 100%;
	height: 4.375rem;
}

/*------------------------------------------------
# Sections
------------------------------------------------*/
section {
	margin: 120px 0;
}

/*------------------------------------------------
# Buttons
------------------------------------------------*/
.btn-danger {
	color: #FFFFFF !important;
    background-color: #DD0000 !important;
}

.btn-danger:hover {
	color: #DD0000 !important;
	border-color: #DD0000 !important;
    background-color: transparent !important;
}

/*------------------------------------------------
# Hero
------------------------------------------------*/
.hero {
	width: 100%;
	height: 56.25rem;
	margin-top: 0;
	background: url("../img/fire-sunset-FZM7PSU-Red.png") top center no-repeat;
}


#about {
}

.about-content {
	
}

/*
.about-content div {
	background-color: #f6f9ff;
}
*/

.portfolio-row {
	margin-top: 30px;
}

.blog-content {
	margin: 0 30px;
}

.contact-form {
	margin: 30px 30px;
}

.form-row {
	margin-bottom: 1rem;
}

.form-content {
	height: 300px;
	padding-top: 0;
}